<!DOCTYPE html>
{% extends "home-base.html"%}
{% block title %}Form Demo{% endblock %}
{% block page_content%}

  <div class="container">
    <!-- simple html form w/o Bootstrap using GET -->
    <h1>Hello,
      {% if first_name %}
        {{first_name}}
      {% else %}
        Stranger
      {% endif %}
    </h1>
    <h3>This is a simple form w/o Bootstrap using GET:</h3>
    <h4>This is the GET form</h4>
    <form action="/form-demo" method="get">
    What's your name?<br>
    <input type="text" name="first_name"><br><br>
    <input type="submit" value="Submit">
    </form>
  </div>
<h4>This is the POST form</h4>
  <form action="/form-demo" method="get">
  What's your name?<br>
  <input type="text" name="first_name"><br><br>
  <input type="submit" value="Submit">
  </form>
